{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block%}
    {{ "Courses" }}
{% endblock %}

{% block body_block %}
    <div class="content">
        <table>
            <tr>
                <th>name</th>
                <th>code</th>
            </tr>
            {% if courses_data %}
                {% for course in courses_data %}
                    <tr>
                        <td>{{ course.course_name }}</td>
                        <td>{{ course.course_code }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <strong>No courses! :( </strong>
            {% endif %}
        </table>
    </div>
{% endblock %}